body{
    background: white;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    color:black;
}

header img{
    display:block;
    width:80vw;;
}

.self-image{
    width:90vw;
    justify-self: center;
    margin: center;
}

a{
    text-decoration: none;
    color:white;
}

nav{
    position:fixed;
    font-family: "Josefin Sans", sans-serif;
    width: 100vw;
    font-size: 3vw;
    background: rgba(0, 0, 0, 0.5);
    z-index:1000;
}

nav .active{
    text-decoration: white underline;
}

nav img{
    position:fixed;
    width:1.5em;
    border-radius: 0px;
}

nav img a{
    color:pink;
}

nav ul{
    list-style-type: none;
    text-align: right;
    margin-bottom:2vh;
    padding-right:10px;
    margin-top:3vh;
}

#about_me{
    text-decoration-color: white;
    text-decoration: underline;
}

nav li{
    display: inline;
    color: white;
    padding-right: 6px;
    padding-left: 5px;
}

nav li{
    color:white;
    text-decoration:none;
}

.skip a{
    left: 50px;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1001;
    position:absolute;
    top: -80px;
    overflow:hidden;
    background-color: red;
    color:black;
}

.skip a:focus{
    top: 100px;
    color: yellow;
    text-decoration-style: solid;
}

:focus{
    border: 2px solid white;
}

main{
    padding-top:100px;

}

.container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows:repeat(7, auto);
    justify-items: center;
}

p{
    font-size:20px;
    padding:20px 90px 10px 30px;
    color:black;
    margin:5px 2vw;
}

h2{
    font-size: 40px;
    margin:20px 10px 10px;
    letter-spacing:8px;
}

#somep h2{
    font-size: 40px;
    margin:20px 0px 10px 0px;
    letter-spacing:8px;
}

footer{
    font-size:20px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding-bottom:20px;
}

.footer h2{
    position: absolute;
}

.socials{
    display:flex;
    padding-top:20px;
    padding-bottom: 15px;
    width: 100vw;
    justify-items: center;
    justify-content: space-evenly;
}

.socials img{
    width:7vw;
}

#both{
    display:none;
}

#logo{
    display:block;
    margin: 20px 0px 20px 30px;
}

.flip-card-back{
    display:none;   
}

#somep{
    margin:10px 5vw;
}

.photography{
    display:flex;
    flex-direction: column;
    margin:20px 5vw 20px 5vw;
}

.photography img{
    width:360px;
}

#somep p{
    background: none;
    color:black;
    margin:0px;
    padding:0px;
}

.flip-card{
    margin:10px;
}

#port{
    margin:0px 5vw 20px 5vw;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:90vw;
    background:black;
    border-radius: 1em;
    padding:10px;
    flex-wrap:wrap;
}


button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Josefin Sans',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    font-size:20px;
    width:80%;
}

button:hover{
    border-color: red;
    }

@media all and (max-width:30em){
    button{
        display:block;
        margin:0.2em auto;
    }
}

#worktext h2{
    font-size:30px;
    margin-bottom:20px;
    margin-left:5vw;
}

a:hover{
    color:red;
    filter:none;
}

/* TABLET VIEW */
@media only screen and (min-width: 600px){
    #port{
        flex-direction:row;
    }

    button{
        width:15vw;
        padding:5px;
    }
    
    .container{
        grid-template-columns: 1;

    }

    .socials img{
        width:5vw;
    }

    nav{
        font-size:2.5vw;
    }

    nav ul{
        padding-right:30px;
    }

    header img{
        grid-column: 1;
        padding-bottom: 20px;
        width:30vw;
    }

    p{
        grid-column-start:1;
        grid-column-end:1;
        font-size:20px;
        padding:10px;
        border-radius: 5px;
        margin:10px 30px 10px 0px;
    }
    
    h2{
        font-size: 40px;
        margin:20px 0px 10px 10vw;
        letter-spacing:8px;
    }

    .socialsam{
        display:flex;
        width: 30vw;
        justify-items: center;
        justify-content: space-evenly;
    }
    
    .socialsam img{
        width:4vw;
    }

    .self{
        grid-column-start: 1;
        height:100%;
    }

    #somep{
        margin:0px 15vw 0px 10vw;
    }

    #somep h2{
        margin:20px 0px 10px 0px;
    }

    #selfp{
        margin:0px 15vw 0px 10vw;
    }

    #both{
        display:block;
        width:6em;
        padding-bottom:0px;
        align-items:left;
        margin: 1vh 0vw 0vh 2vw;
        filter:none;
    }
    
    #logo{
        display:none;
    }

    .photography{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:20px 5vw 20px 5vw;
        justify-content: space-evenly;
    }
    
    .photography img{
        margin:2px;
        width: 300px;
    }

    .flip-card{
        width:80vw;
    }
}



@media only screen and (min-width: 992px){
    @keyframes bg {
        0% {
            background-size:    0 3px,
                                3px 0,
                                0 3px,
                                3px 0;
        }
        25% {
            background-size:    100% 3px,
                                3px 0,
                                0 3px,
                                3px 0;
        }
        50% {
            background-size:    100% 3px,
                                3px 100%,
                                0 3px,
                                3px 0;
        }
        75% {
            background-size:    100% 3px,
                                3px 100%,
                                100% 3px,
                                3px 0;
        }
        100% {
            background-size:    100% 3px,
                                3px 100%,
                                100% 3px,
                                3px 100%;
        }
    }

    nav a:hover {
        width: 25%;
        padding:5px;
        
        background-repeat: no-repeat;
        background-image:   linear-gradient(to right, white 100%, white 100%),
                            linear-gradient(to bottom, white 100%, white 100%),
                            linear-gradient(to right, white 100%, white 100%),
                            linear-gradient(to bottom, white 100%, white 100%);
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
        background-position:    0 0,
                                100% 0,
                                100% 100%,
                                0 100%;
        animation: bg 0.5s cubic-bezier(0.19, 1, 0.22, 1) 1;
    }

    .socials img{
        width:3vw;
    }

    nav{
        font-size: 2vw;
    }

    #somep{
        margin:0px 15vw 0px 5vw;
    }

    #somep h2{
        margin:20px 0px 10px 0px;
    }

    p{
        font-size:1.2vw;
        margin-right:10vw;
    }

    h1{
        grid-column: 1 / span 2;
        margin-top:1vw;
    }

    .container{
        grid-template-columns: 2fr 3fr;
        margin-bottom:60px;
    }

    .flip-card {
        background-color: transparent;
        perspective: 1000px;
        grid-column-start: 1;
        margin:0px;
        width:30vw;
        height:30vw;
        padding:0px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
  
    .flip-card:hover .flip-card-inner,
    .flip-card:focus-within .flip-card-inner,
    .flip-card:active .flip-card-inner,
    .flip-card:focus .flip-card-inner {
        transform: rotateY(180deg);
    }
  
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
  
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    .flip-card-back {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: black;
        color: white;
        transform: rotateY(180deg);
    }

    .flip-card-back p {
        margin:0px;
        color:white;
    }

    .photography{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:20px 2vw 20px 2vw;
        justify-content: space-evenly;
   }

    .photography img{
        width: 450px;
    }

    #selfp{
        margin:0px 5vw 0px 0px;
        height:90%;
        font-size:1.5vw;
        padding:0px;
        padding-top:10px;
    }

    .self{
        grid-row: 2;
        grid-column:2;
    }

    .self h2{
        padding:0px;
        margin:0px;
        grid-row:1;
        grid-column:2;
    }

    #somep p{
        font-size: 1.5vw;
    }

} 

@media screen and (prefers-reduced-motion: reduce) {
    nav a:hover{
        animation:none;
    }

    .flip-card:hover .flip-card-inner,
    .flip-card:focus-within .flip-card-inner,
    .flip-card:active .flip-card-inner,
    .flip-card:focus .flip-card-inner {
        transform: none;
    }
}