.overlay{
    animation:growoutro forwards;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    background-color:white;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display:flex;
    justify-content:center;
    align-items: center;
}

.overlay img{
    width:60vw;
    height:30vw;
}

@keyframes growoutro{
    from{opacity:1; z-index:1000;}
    to{opacity:0; z-index:-10;}
}

@keyframes growintro{
    from{opacity:0;}
    to{opacity:1;}
}

body{
    background: black;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    color:white;
}

a{
    text-decoration: none;
}


nav{
    position:fixed;
    font-family: "Josefin Sans", sans-serif;
    width: 100vw;
    font-size: 0.4em;
    background: rgba(0, 0, 0, 0.5);
}

nav img{
    position:fixed;
    width:1.5em;
    border-radius: 0px;
}

nav ul{
    list-style-type: none;
    text-align: right;
    margin-bottom:20px;
    padding-right:10px;
    margin-top:30px;
}

nav li{
    display: inline;
    color: white;
    padding-right: 6px;
    padding-left: 5px;
}

#home{
    text-decoration-color: white;
    text-decoration: underline;
}

nav a{
    color:white;
    text-decoration:none;
}

nav .active {
    text-decoration: white underline;
}

a:hover{
    filter: invert(100%);
}

a.skip{
    left: 50px;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position:absolute;
    top: -80px;
    overflow:hidden;
}

a.skip:focus{
    top: 100px;
    color: black;
    text-decoration-style: solid;
}

:focus{
    border: 2px solid white;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    color:white;
    font-size:2em;
}
.container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows:repeat(7, auto);
    grid-row-gap: 10px;
    /* changes the line */
}

.intro{
    justify-content: right;
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    width:100%;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    background-image: url("../images/Tonie.jpg");
    background-repeat: no-repeat;
}

.intro-text h1{
    font-size: 0.8em;
    font-family: "Josefin Sans", sans-serif;
}


.intro-text{
    position: absolute;
    right:0px;
    margin-left:64vw;
    margin-top:25vh;
}

.intro-text p{
    font-size:12px;
    padding:10px;
    padding-right:30px;
    background-color:rgba(0, 0, 0, 0.5);
}

.grateful-delt{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    background-image: url("../images/IMG_5958.jpg");
    background-repeat: no-repeat;
}

.grateful-delt h2{
    position: absolute;
    font-size: 0.8em;
    margin-top: 75vh;
    padding:10px;
    padding-left:6vh;
}

.grateful-delt a{
    color:#dc81f3;
}

.tonie-arcon{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    background-image: url("../images/anders.jpg");
    background-repeat: no-repeat;
}

.tonie-arcon h2{
    position: absolute;
    font-size: 0.8em;
    margin-top:18vh;
    padding-left:3vw;
}

.tonie-arcon a{
    color:yellow;
}

.earring-designs{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 4 / span 1;
    background-image: url("../images/jewelrydesigns2.jpg");
    background-repeat: no-repeat;
}

.earring-designs h2{
    position: absolute;
    font-size: 0.8em;
    margin-top:70vh;
    margin-right:30px;
    padding:10px;
    padding-left:6vh;
}

.earring-designs a{
    color:white;
}

.welcome-week{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 5 / span 1;
    background-image: url("../will.jpg");
    background-repeat: no-repeat;
}

.welcome-week h2{
    position: absolute;
    font-size: 0.8em;
    margin-top:70vh;
    right:0;
    text-align:right;
    padding:10px;
    padding-right:20px;
}

.welcome-week a{
    color:gold;
}

.fall-rush-2021{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 6 / span 1;
    background-image: url("../images/fr2021.jpg");
    background-repeat: no-repeat;
}

.fall-rush-2021 h2{
    position: absolute;
    font-size: 0.8em;
    margin-top:20vh;
    margin-right:30px;
    padding:10px;
    padding-left:6vh;
}

.fall-rush-2021 a{
    color:orangered;
}


.pank-hoodies{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 7 / span 1;
    background-image: url("../images/ph.jpg");
    background-repeat: no-repeat;
}

.pank-hoodies h2{
    position: absolute;
    right:0;
    font-size: 0.8em;
    margin-top:15vh;
    padding-right:30px;
    padding:10px;
    padding-right:50px;
}

.pank-hoodies a{
    color: red;
}

.dtd-x-piphi{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 8 / span 1;
    background-image: url("../images/dtdpp.jpg");
    background-repeat: no-repeat;
}

.dtd-x-piphi h2{
    position: absolute;
    font-size: 0.8em;
    margin-top:80vh;
    text-align:center;
    padding:10px;
    padding-left:50px;
}

.dtd-x-piphi a{
    color: white;
}

.fall-rush-2020{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 10 / span 1;
    background-image: url("../luca.png");
    background-repeat: no-repeat;
}

.fall-rush-2020 h2{
    position: absolute;
    right:0;
    font-size: 0.8em;
    margin-top:10vh;
    text-align:right;
    padding:10px;
    padding-right:50px;
}

.fall-rush-2020 a{
    color:rgb(250, 235, 26);
}

.winter-rush-2020{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 11 / span 1;
    background-image: url("../images/wr2020.jpg");
    background-repeat: no-repeat;
}

.winter-rush-2020 h2{
    position: absolute;
    right:0;
    font-size: 0.8em;
    margin-top:10vh;
    text-align:right;
    padding:10px;
    padding-right:50px;
}

.winter-rush-2020 a{
    color:red;
}

.dtd-quarantine{
    background-attachment: fixed; 
    background-position: center; 
    background-size: cover; 
    color: white;
    height: 100vh; 
    grid-column: 1 / -1;
    grid-row: 12 / span 1;
    background-image: url("../images/q.jpg");
    background-repeat: no-repeat;
}

.dtd-quarantine h2{
    position: absolute;
    font-size: 0.8em;
    margin-top:70vh;
    padding-left:50px;
    padding:10px;
}

.dtd-quarantine a{
    color: rgb(238, 241, 35);
}

#sig{
    display:none;
}
#logo{
    margin: 20px 0px 20px 30px;
}

footer{
    font-size:20px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding-bottom:20px;
}

.footer h2{
    position: absolute;
}

.socials{
    display:flex;
    padding-top:20px;
    padding-bottom: 15px;
    width: 100vw;
    justify-items: center;
    justify-content: space-evenly;
}

.socials img{
    width:3vw;
}

.intro {
  background-attachment: scroll;
}
.grateful-delt {
    background-attachment: scroll;
}
.tonie-arcon {
    background-attachment: scroll;
  }
.earring-designs {
  background-attachment: scroll;
}

.welcome-week {
  background-attachment: scroll;
}
    
.fall-rush-2021 {
  background-attachment: scroll;
}

.pank-hoodies {
  background-attachment: scroll;
}

.dtd-x-piphi {
  background-attachment: scroll;
}

.fall-rush-2020{
  background-attachment: scroll;
}
    
.winter-rush-2020 {
  background-attachment: scroll;
}

.dtd-quarantine{
  background-attachment: scroll;
}

/* -------ANIMATION CODE------- */
@keyframes threepeat {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, 0.25);
    }
}

/* TABLET VIEW */
@media only screen and (min-device-width: 600px){
    .overlay img{
        width:20vw;
        height:8vw;
    }
    nav{
        font-size: 0.8em;
    }

    nav ul{
        padding-right:30px;
    }

    .intro-text h1{
        font-size: 2em;
    }

    .intro-text p{
        font-size: 20px;
    }

    .grateful-delt h2{
        font-size:2em;
    }

    .tonie-arcon h2{
        font-size:2em;
    }

    .earring-designs h2{
        font-size:2em;
    }

    .welcome-week h2{
        font-size:2em;
    }

    .fall-rush-2021 h2{
        font-size:2em;
    }

    .pank-hoodies h2{
        font-size:2em;
    }

    .dtd-x-piphi h2{
        font-size:2em;
    }

    .fall-rush-2020 h2{
        font-size:2em;
    }

    .winter-rush-2020 h2{
        font-size:2em;
    }

    .dtd-quarantine h2{
        font-size:2em;
    }
    
    #sig{
        display:inline-block;
        width:6em;
        padding-bottom:0px;
        align-items:left;
        margin:10px 0px 20px 90px
    }
    
    #logo{
        margin: 20px 0px 20px 30px;
    }
}

@media only screen and (min-device-width: 992px){
    .overlay img{
        width:30vw;
        height:20vw;
    }
    h1{
        animation-name:growintro;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay:3s;
    }

    .intro {
        background-attachment: fixed;
      }
    .grateful-delt {
        background-attachment: fixed;
    }
    .tonie-arcon {
        background-attachment: fixed;
      }
    .earring-designs {
      background-attachment: fixed;
    }
  
    .welcome-week {
      background-attachment: fixed;
    }
        
    .fall-rush-2021 {
      background-attachment: fixed;
    }
  
    .pank-hoodies {
      background-attachment: fixed;
    }
    
    .dtd-x-piphi {
      background-attachment: fixed;
    }
    
    .fall-rush-2020{
      background-attachment: fixed;
    }
        
    .winter-rush-2020 {
      background-attachment: fixed;
    }
  
    .dtd-quarantine{
      background-attachment: fixed;
    }

    .intro-text h1{
        font-size: 3em;
    }

    .intro-text p{
        font-size: 30px;
    }

    .grateful-delt h2{
        font-size:3em;
    }

    .tonie-arcon h2{
        font-size:3em;
    }

    .earring-designs h2{
        font-size:3em;
    }

    .welcome-week h2{
        font-size:3em;
    }

    .fall-rush-2021 h2{
        font-size:3em;
    }

    .pank-hoodies h2{
        font-size:3em;
    }

    .dtd-x-piphi h2{
        font-size:3em;
    }

    .fall-rush-2020 h2{
        font-size:3em;
    }

    .winter-rush-2020 h2{
        font-size:3em;
    }

    .dtd-quarantine h2{
        font-size:3em;
    }

}

