body{
    background: white;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    color:black;
}

a{
    text-decoration: none;
    color:white;
}

nav{
    position:fixed;
    font-family: "Josefin Sans", sans-serif;
    width: 100vw;
    font-size: 0.4em;
    background: rgba(0, 0, 0, 0.5);
}

nav .active {
    text-decoration: white underline;
}

nav img{
    position:fixed;
    width:1.5em;
    border-radius: 0px;
    border:none;
}

nav ul{
    list-style-type: none;
    text-align: right;
    margin-bottom:20px;
    padding-right:10px;
    margin-top:30px;
}

#items{
    text-decoration-color: white;
    text-decoration: underline;
}

nav li{
    display: inline;
    color: white;
    padding-right: 6px;
    padding-left: 5px;
}

nav a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:rgb(179, 179, 179);
}

a.skip{
    left: 50px;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position:absolute;
    top: -80px;
    overflow:hidden;
}

a.skip:focus{
    top: 100px;
    color: black;
    text-decoration-style: solid;
}

:focus{
    border: 2px solid white;
}

h2{
    font-size: 32px;
    font-family: "Josefin Sans", sans-serif;
    padding: 20px 0px 10px 30px;
}

p{
    font-size:16px;
    margin:0px 100px 60px 30px;
}

img{
    width: 95vw;
    justify-self: center;
    margin: center;
    border-radius: 5px;
    border:black solid 3px;
}

.container{
    padding-top: 90px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows:repeat(10, auto);
    justify-items: center;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-size:50px;
    text-align: left;
    justify-self: left;
    padding-bottom:30px;
    padding-left:30px
}

footer{
    font-size:20px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding-bottom:20px;
}

.footer h2{
    position: absolute;
}

.socials{
    display:flex;
    padding-top:20px;
    padding-bottom: 15px;
    width: 100vw;
    justify-items: center;
    justify-content: space-evenly;
}

.socials img{
    width:3vw;
}

#sig{
    display:none;
}

#logo{
    margin: 20px 0px 20px 30px;
}

/* TABLET VIEW */
@media only screen and (min-device-width: 600px){
    nav{
        font-size: 0.8em;
    }

    nav ul{
        padding-right:30px;
    }

    .container{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:repeat(5, auto);
        justify-items:center;
        padding-left:50px;
    }

    img{
        width:70vw;
        grid-column-start:0;
        grid-column-end:1;
        margin-bottom:30px;
    }

    .grateful-delt-image{
        grid-column-start: 1;
        grid-column-end:1;

    }

    .grateful-delt{
        grid-column-start:2;
        grid-column-end:2;
    }

    h1{
        display:block;
        margin-bottom:10px;
        margin-top:30px;
        grid-column: 1 / span 2;
        font-size:60px;
    }

    p{
        font-size:20px;
        padding-right:80px;
    }

    h2{
        font-size:40px;
        margin-bottom:10px;
    }
        
    #sig{
        display:inline-block;
        width:6em;
        padding-bottom:0px;
        align-items:left;
        margin:10px 0px 20px 90px
    }
    
    #logo{
        margin: 20px 0px 20px 30px;
    }
}